@import 'aos.css';
@import 'owl.carousel.min.css';
@import 'bootstrap.min.css';
@import 'animate.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Bold.eot');
    src: url('../fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-Bold.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


body{font-family: 'Poppins', sans-serif;}
img{max-width:100%;height:auto;}

a:hover,a:focus{text-decoration:none;}
.container {max-width:1400px; margin-top: 10px; }
.btn-theme {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    background: #1dbccb 0% 0% no-repeat padding-box;
    padding:10px 20px;
}
.btn-theme:hover{background-color:#000;color:#fff;}

body{
    font-size: 15px;
    background: #eeeeee;
}
.form-control{
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}
.form-control:focus{
    border-color: #5cb85c;
}
.form-control, .btn{
    border-radius: 3px;
}
.signup-form{
    width: 400px;
    margin: 0 auto;
    padding: 100px 0;
}
.signup-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}
.signup-form h2:before{
    left: 0;
}
.signup-form h2:after{
    right: 0;
}
.signup-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .btn{
    font-size: 15px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}
.signup-form a{
    text-decoration: underline;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    text-decoration: none;
}
.signup-form form a:hover{
    text-decoration: underline;
}


.form-inline {
    display: inline-block;
}
.navbar-header.col {
    padding: 0 !important;
}
.navbar {
    background: #007bff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #fbf6f6;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}
.search-box {
    position: relative;
}
.search-box input {
    box-shadow: none;
    padding-right: 35px;
    border-radius: 3px !important;
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav-item i {
    font-size: 20px;
    margin-right: 4px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .nav-item.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .dropdown-menu li a:active {
    color: #fffbfb;
}
.navbar .dropdown-menu li a:hover{
    color: #797474;
}
.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}
.navbar .badge {
    background: #f44336;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 6px 0;
    min-height: 18px;
    top: 5px;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
    position: relative;
    color: white;
    margin-left: 5px;
}
.navbar ul.nav li a.messages {
    margin-right: 20px;
}
.navbar a.notifications .badge {
    margin-left: -8px;
}
.navbar a.messages .badge {
    margin-left: -4px;
}
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
    background: transparent !important;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 1199px){
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }
    .input-group {
        width: 100%;
    }
}

.search-container button {
  float: right;
  padding: 7px 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-top: -40px;
  border-radius: 0px 5px 5px 0px;
}
.search-container button:hover {
  background: #ccc;
}
.filter_section, .listing_section{
    border: 1px solid #d0c9c9;
    height: 800px;
    background: white;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.main_list{border: 1px solid #8e8787; margin-bottom: 12px;}
.main_list_header{border-bottom: 1px solid #8e8787;}
.main_list_header label{padding: 6px 20px 0px 12px; color: black;}
.main_list_container{padding: 12px; color: black;}
.main_list_header span{font-size: 22px;
    font-weight: 500;}
.main_list_container label{font-weight: 600;}
.search_category, .history_section{margin-top: 20px;}
.share_delete_section{float: right;
    padding-top: 6px;z-index: 1000;}
.share_delete_section i{margin-right: 15px;color: #007bff}
.share_delete_section i:hover{color: #0056b3}
.history_header{border-bottom: 1px solid #969393;}
.history_header label{margin-bottom: 0px;}
.history_container{margin-top: 11px;}
.history_list{display: flex;}
.history_list label{font-weight: 500;}
.main_header .nav-link{color: white !important;}
.user_profile{border-right: 1px solid;
    color: white;}
.header_label label{float: right; font-weight: 600;}
.detail_header h4{color: #707379;}
.detail_header, .detail_containt{
    border: 1px solid #afa6a6;
    padding: 10px;
    background: white;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.detail_containt{padding: 0px; margin-top: 10px;}
.detail_containt a{font-size: 17px; font-weight: 600;}


.heading h5, .heading_two{text-align: center;}
.address_sec{display: grid; text-align: center; margin-bottom: 20px;}
.detail_header_section{padding: 15px;}
.id_section label, .heading_two label, .container_two label, .container_three label{margin-right: 15px;}
.id_section, .heading_two{display: grid;}
.section_one, .section_two{border-bottom: 1px dashed;}
.section_two, .container_two, .detail_address, .section_three, .info, .detail_three, .section_four, .section_five, .section_six .summary{margin-top: 20px;}
.detail_address label{font-weight: 600;}
.under_address label, .under_address span{display: block;}
.under_address {margin: 0 auto;}
.detail_address, .info{margin-bottom: 20px;}
.grid_display span{display: block;}
.dynamic_section{padding-left: 10px;}
.grid_display{border: 1px solid #bbb5b5;
    padding: 10px; margin: 0 auto;}
.subtotal_row td{font-weight: 700;}
.notes_content{
    border: 1px solid;
    height: 90px;
}
.notes_section label, .summary label{font-weight: 600;}
.billing_table th, .section_four th{border: 2px solid #dee2e6;}
.billing_table td, .section_four td{border: 1px solid #dee2e6;}
.subtotal_row td, .subtotal_row th{border: 0px;}
.details_section{margin-top: 25px;}
.hidden_fields{margin-top: 10px;}
.adjust_add_sign{float: right;
    margin: -33px 50px 0px 0px;
    font-size: 25px;
    color: green;}
.additional_sec{margin-bottom: 10px;}
.select_option_section{width: 350px;}
.chooseFile{position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 2;}
.Customfile{
    position: relative;
    z-index: 1;
    width: 250px;
    background: #547bff;
    text-align: center;
    color: #fff;
    padding: 10px 1px 10px 1px;
    top: -175px;
}

.additional_sec{display: none;}
.additional_sec input{margin: -36px 0px 7px 71px;}
.additional_sec i{float: right;
    margin: -38px -336px 0px 0px;
    font-size: 25px; color: red;}
.detail_img_sec img.first{
    height: 100px;
    margin-left: 220px;
}
.detail_img_sec span{
    margin-left: 210px;
    margin-bottom: 50px;
    word-break: break-all;
}
.second{margin: -61px 0px 0px 251px;}
.footer_sec{height: 80px;}
.detail_containt a.nav-link{padding: 15px 30px 15px 30px;
    font-size: 20px; border: 0px solid white; color: #494f57;}
.detail_containt a.nav-link:hover{border-bottom: 2px solid #547bff; color: #547bff;}
.detail_containt a.nav-link.active{margin-bottom: 1px; border-bottom: 2px solid; color: #547bff;}
button.close{
    border: 1px solid;
    padding: 11px 15px 11px 15px;
    background: #585151;
    color: white;
    font-size: 17px;
    font-weight: 100;
    border-radius: 5px;
}
.settings_section{
    border: 1px solid #d6d6d6;
    background: white;
    padding: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.alert{margin-top: 10px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}
.settings_section h4{
    border-bottom: 1px solid #a0a3ad;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.errorlist li{display: block;
    color: red;}
.errorlist{padding: 0px;}
.settings_section p{font-size: 19px;
    color: #8e0707;}