{% extends "base.html" %}
{% load static %}
{% load split_semicolon %}
{% block title %}Details{% endblock %}

{% block content %}
<div class="container">
    <div class="details_section">
        <div class="detail_header">
            <h4>Admin - Audatex Header</h4>
            <div class="header_contain">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row header_label">
                            <div class="col-md-4"><label>Audatex Type:</label></div>
                            <div class="col-md-8"><span>{{audatex.audatex_type}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Insurance Co:</label></div>
                            <div class="col-md-8"><span>{{audatex.claim}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner Name:</label></div>
                            <div class="col-md-8"><span>{{audatex.owner_name}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner Address:</label></div>
                            <div class="col-md-8"><span>{{audatex.owner_address}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner Cell:</label></div>
                            <div class="col-md-8"><span>{{audatex.owner_cell}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner City/State/Zip:</label></div>
                            <div class="col-md-8"><span>{{audatex.owner_citystatezip}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner Home:</label></div>
                            <div class="col-md-8"><span>{{audatex.owner_home}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner Fax:</label></div>
                            <div class="col-md-8"><span>{{audatex.owner_fax}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner email:</label></div>
                            <div class="col-md-8"><span>{{audatex.owner_email}}</span></div>
                        </div>
                        </div>
                    <div class="col-md-3 detail_img_sec" style="display: grid;">
                        <img src="{% static 'images/detail_page.png' %}" class="first">
                        <img src='{% static "images/pdf.png" %}' class="second">
                        <span>-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_containt">
            <ul class="nav nav-tabs" role="tablist" id="details_tab">
                <li class="nav-item">
                    <a class="nav-link active" href="#header" role="tab" data-toggle="tab">Header</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#damages" role="tab" data-toggle="tab">Damages Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#estimate" role="tab" data-toggle="tab">Estimate Table</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="header">
                    <div class="detail_header_section">
                        <div class="section_one">
                            <div class="heading">
                                <h5>{{audatex.independent_appraisal_company}}</h5>
                            </div>
                            <div class="id_section">
                                {% if audatex.claim %}
                                    <span>{{audatex.claim}}</span>
                                {% else %}
                                    <label>Claim:</label>
                                {% endif %}
                                {% if audatex.claim_number %}
                                    <span><label>Claim No.:</label>{{audatex.claim_number}}</span>
                                {% else %}
                                    <label>Claim No.:</label>
                                {% endif %}
                            </div>
                            <div class="address_sec">
                                <span>{{audatex.claim}}</span>
                                <!-- <span>RENTAL AND SUPPLEMENT INFORMATION IS LISTED BELOW</span>
                                <span>3 Lear Jet Lane</span>
                                <span>Suite 100</span>
                                <span>Latham, NY 12110</span>
                                <span>Phone: (800) 252-5730</span>
                                <span>Fax: (800) 632-3704</span> -->
                            </div>
                        </div>
                        <div class="section_two">
                            <div class="heading_two">
                                {% if audatex.owner_name %}
                                    <span>{{audatex.owner_name}}</span>
                                {% else %}
                                    <label>Owner Name:</label>
                                {% endif %}
                                {% if audatex.owner_address %}
                                    <span>{{audatex.owner_address}}</span>
                                {% else %}
                                    <label>Owner Address:</label>
                                {% endif %}
                                {% if audatex.owner_cell %}
                                    <span>{{audatex.owner_cell}}</span>
                                {% else %}
                                    <label>Owner Cell:</label>
                                {% endif %}
                                {% if audatex.owner_citystatezip %}
                                    <span>{{audatex.owner_citystatezip}}</span>
                                {% else %}
                                    <label>Owner City/State/Zip:</label>
                                {% endif %}
                                {% if audatex.owner_home %}
                                    <span>{{audatex.owner_home}}</span>
                                {% else %}
                                    <label>Owner Home:</label>
                                {% endif %}
                                {% if audatex.owner_fax %}
                                    <span>{{audatex.owner_fax}}</span>
                                {% else %}
                                    <label>Owner Fax:</label>
                                {% endif %}
                                {% if audatex.owner_email %}
                                    <span>{{audatex.owner_email}}</span>
                                {% else %}
                                    <label>Owner Email:</label>
                                {% endif %}

                            </div>
                            <div class="container_two">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.claim_number %}
                                            <span>{{audatex.claim_number}}</span>
                                        {% else %}
                                            <label>Claim Number:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.insured_policy %}
                                            <span>{{audatex.insured_policy}}</span>
                                        {% else %}
                                            <label>Insured Policy:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.loss_date_time %}
                                            <span>{{audatex.loss_date_time}}</span>
                                        {% else %}
                                            <label>Loss Datetime:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.loss_type %}
                                            <span>{{audatex.loss_type}}</span>
                                        {% else %}
                                            <label>Loss Type:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.deductible %}
                                            <span>{{audatex.deductible}}</span>
                                        {% else %}
                                            <label>Deductible:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.claim %}
                                            <span>{{audatex.claim}}</span>
                                        {% else %}
                                            <label>Claim:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.address1 %}
                                            <span>{{audatex.address1}}</span>
                                        {% else %}
                                            <label>Address1:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.ci_citystatezip %}
                                            <span>{{audatex.ci_citystatezip}}</span>
                                        {% else %}
                                            <label>CI CityStateZip:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.agent %}
                                            <span>{{audatex.agent}}</span>
                                        {% else %}
                                            <label>Agent:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.address2 %}
                                            <span>{{audatex.address2}}</span>
                                        {% else %}
                                            <label>Address2:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.work_day1 %}
                                            <span>{{audatex.work_day1}}</span>
                                        {% else %}
                                            <label>Work Day1:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.fax %}
                                            <span>{{audatex.fax}}</span>
                                        {% else %}
                                            <label>Fax:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.email1 %}
                                            <span>{{audatex.email1}}</span>
                                        {% else %}
                                            <label>Email1:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.insured %}
                                            <span>{{audatex.insured}}</span>
                                        {% else %}
                                            <label>Insured:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.address3 %}
                                            <span>{{audatex.address3}}</span>
                                        {% else %}
                                            <label>Address3:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.address1 %}
                                            <span>{{audatex.address1}}</span>
                                        {% else %}
                                            <label>Address1:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.home_day %}
                                            <span>{{audatex.home_day}}</span>
                                        {% else %}
                                            <label>Home Day:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.cell %}
                                            <span>{{audatex.cell}}</span>
                                        {% else %}
                                            <label>Cell:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.claim_replacement %}
                                            <span>{{audatex.claim_replacement}}</span>
                                        {% else %}
                                            <label>Claim Replacement:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.address4 %}
                                            <span>{{audatex.address4}}</span>
                                        {% else %}
                                            <label>Address4:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.work_day2 %}
                                            <span>{{audatex.work_day2}}</span>
                                        {% else %}
                                            <label>Work Day2:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.email2 %}
                                            <span>{{audatex.email2}}</span>
                                        {% else %}
                                            <label>Email2:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.loss_payee %}
                                            <span>{{audatex.loss_payee}}</span>
                                        {% else %}
                                            <label>Loss Payee:</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="section_three" style="border-bottom: 1px dashed;">
                            <div class="heading">
                                <h5>Inspection Detail</h5>
                            </div>
                            <div class="info">
                                <span>{{audatex.inspection_type}}</span>
                            </div>
                            <div class="container_three">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.inspection_type %}
                                            <span>{{audatex.inspection_type}}</span>
                                        {% else %}
                                            <label>Inspection Type:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.inspection_location %}
                                            <span>{{audatex.inspection_location}}</span>
                                        {% else %}
                                            <label>Inspection Location:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.contact %}
                                            <span>{{audatex.contact}}</span>
                                        {% else %}
                                            <label>Contact:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.citystatezip %}
                                            <span>{{audatex.citystatezip}}</span>
                                        {% else %}
                                            <label>Citystatezip:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.primary_impact %}
                                            <span>{{audatex.primary_impact}}</span>
                                        {% else %}
                                            <label>Primary Impact:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.seconday_impact %}
                                            <span>{{audatex.seconday_impact}}</span>
                                        {% else %}
                                            <label>Seconday Impact:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.driveable %}
                                            <span>{{audatex.driveable}}</span>
                                        {% else %}
                                            <label>Driveable:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.rental_assisted %}
                                            <span>{{audatex.rental_assisted}}</span>
                                        {% else %}
                                            <label>Rental Assisted:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.assigned_datetime %}
                                            <span>{{audatex.assigned_datetime}}</span>
                                        {% else %}
                                            <label>Assigned Datetime:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.received_date %}
                                            <span>{{audatex.received_date}}</span>
                                        {% else %}
                                            <label>Received Date:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.first_contact_datetime %}
                                            <span>{{audatex.first_contact_datetime}}</span>
                                        {% else %}
                                            <label>First Contact Datetime:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.appointment_datetime %}
                                            <span>{{audatex.appointment_datetime}}</span>
                                        {% else %}
                                            <label>Appointment Datetime:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.appraiser_name %}
                                            <span>{{audatex.appraiser_name}}</span>
                                        {% else %}
                                            <label>Appraiser Name:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.appraiser_license %}
                                            <span>{{audatex.appraiser_license}}</span>
                                        {% else %}
                                            <label>Appraiser License:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.isp_address %}
                                            <span>{{audatex.isp_address}}</span>
                                        {% else %}
                                            <label>ISP Address:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.work_day %}
                                            <span>{{audatex.work_day}}</span>
                                        {% else %}
                                            <label>Work Day:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.citystatezip2 %}
                                            <span>{{audatex.citystatezip2}}</span>
                                        {% else %}
                                            <label>Citystatezip2:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.fax1 %}
                                            <span>{{audatex.fax1}}</span>
                                        {% else %}
                                            <label>Fax1:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.email %}
                                            <span>{{audatex.email}}</span>
                                        {% else %}
                                            <label>Email:</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section_four" style="border-bottom: 1px dashed;">
                            <div class="heading">
                                <h5>Repair Detail</h5>
                            </div>
                            <div class="info">
                                <span>{{audatex.repairer}}</span>
                            </div>
                            <div class="container_three">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.repairer %}
                                            <span>{{audatex.repairer}}</span>
                                        {% else %}
                                            <label>Repairer:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.contact1 %}
                                            <span>{{audatex.contact1}}</span>
                                        {% else %}
                                            <label>Contact1:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.rep_address1 %}
                                            <span>{{audatex.rep_address1}}</span>
                                        {% else %}
                                            <label>Rep Address1:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.rep_citystatezip %}
                                            <span>{{audatex.rep_citystatezip}}</span>
                                        {% else %}
                                            <label>Rep Citystatezip:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.fax2 %}
                                            <span>{{audatex.fax2}}</span>
                                        {% else %}
                                            <label>Fax2:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.taget_complete_datetime %}
                                            <span>{{audatex.taget_complete_datetime}}</span>
                                        {% else %}
                                            <label>Taget Complete Datetime:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.days_to_repair %}
                                            <span>{{audatex.days_to_repair}}</span>
                                        {% else %}
                                            <label>Days to Repair:</label>
                                        {% endif %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="section_five" style="border-bottom: 1px dashed;">
                            <div class="heading">
                                <h5>License Detail</h5>
                            </div>
                            <div class="info">
                                <span>{{audatex.license_plate}}</span>
                            </div>
                            <div class="container_three">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.license_plate %}
                                            <span>{{audatex.license_plate}}</span>
                                        {% else %}
                                            <label>License Plate:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.license_state %}
                                            <span>{{audatex.license_state}}</span>
                                        {% else %}
                                            <label>License State:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.license_expire %}
                                            <span>{{audatex.license_expire}}</span>
                                        {% else %}
                                            <label>License Expire:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.vin %}
                                            <span>{{audatex.vin}}</span>
                                        {% else %}
                                            <label>Vin:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.prod_date %}
                                            <span>{{audatex.prod_date}}</span>
                                        {% else %}
                                            <label>Prod Date:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.mileage %}
                                            <span>{{audatex.mileage}}</span>
                                        {% else %}
                                            <label>Mileage:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.veh_insp %}
                                            <span>{{audatex.veh_insp}}</span>
                                        {% else %}
                                            <label>Veh Insp:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.mileage_type %}
                                            <span>{{audatex.mileage_type}}</span>
                                        {% else %}
                                            <label>Mileage Type:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.condition %}
                                            <span>{{audatex.condition}}</span>
                                        {% else %}
                                            <label>Condition:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.ext_color %}
                                            <span>{{audatex.ext_color}}</span>
                                        {% else %}
                                            <label>Ext Color:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.code %}
                                            <span>{{audatex.code}}</span>
                                        {% else %}
                                            <label>Code:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.int_color %}
                                            <span>{{audatex.int_color}}</span>
                                        {% else %}
                                            <label>Int Color:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.ext_refinish %}
                                            <span>{{audatex.ext_refinish}}</span>
                                        {% else %}
                                            <label>Ext Refinish:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.int_refinish %}
                                            <span>{{audatex.int_refinish}}</span>
                                        {% else %}
                                            <label>Int Refinish:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.ext_paintcode %}
                                            <span>{{audatex.ext_paintcode}}</span>
                                        {% else %}
                                            <label>Ext Paintcode:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.int_trimcode %}
                                            <span>{{audatex.int_trimcode}}</span>
                                        {% else %}
                                            <label>Int Trimcode:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.vehicle %}
                                            <span>{{audatex.vehicle}}</span>
                                        {% else %}
                                            <label>Vehicle:</label>
                                        {% endif %}
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>

                        <div class="section_six">
                            <div class="heading">
                                <h5>Tab Detail</h5>
                            </div>
                            <div class="info">
                                <span>{{audatex.tab1}}</span>
                            </div>
                            <div class="container_three">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if audatex.tab1 %}
                                            <span>{{audatex.tab1}}</span>
                                        {% else %}
                                            <label>Tab1:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.tab2 %}
                                            <span>{{audatex.tab2}}</span>
                                        {% else %}
                                            <label>Tab2:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if audatex.tab3 %}
                                            <span>{{audatex.tab3}}</span>
                                        {% else %}
                                            <label>Tab3:</label>
                                        {% endif %}
                                    </div>
                                </div>                              
                            </div>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="damages">
                    <div class="detail_header_section">
                        <div class="section_four">
                            {% include 'audatex_table_section_detail.html' %}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="estimate">
                    <div class="detail_header_section">
                        <div class="section_five">
                            {% include 'audatex_billing_details.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
let url = location.href.replace(/\/$/, "");
 
 if (location.hash) {
   const hash = url.split("#");
   $('#details_tab a[href="#'+hash[1]+'"]').tab("show");
   setTimeout(() => {
     $(window).scrollTop(0);
   }, 400);
 } 
  
 $('a[data-toggle="tab"]').on("click", function() {
   let newUrl;
   const hash = $(this).attr("href");
   if(hash == "#home") {
     newUrl = url.split("#")[0];
   } else {
     newUrl = url.split("#")[0] +hash;
   }
   newUrl += "/";
   history.replaceState(null, null, newUrl);
 });
</script>
{% endblock %}