<div class="notes_section">
	<label>Notes</label>
	<div class="notes_content"></div>
</div>
<div class="summary">
	<label>ESTIMATE Table</label>
	<table class="table billing_table">
	<thead>
		<tr>
			<th scope="col">Parts</th>
			<th scope="col">Rate Hour</th>
			<th scope="col">amount</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
  <tbody>
  	{% for est in audatex.estimatetable.all %}
		<tr>
			<td>{{est.parts}}</td>
			<td>{{est.rate_hour}}</td>
			<td>{{est.amount}}</td>
			<td>
				<button type="button" class="btn btn-primary edit_estimate_table_btn" estimate_table_id="{{est.id}}"
					parts="{{est.parts}}" rate_hour="{{est.rate_hour}}" amount="{{est.amount}}">
					Edit
				</button>
			</td>
		</tr>
	{% endfor %}
  </tbody>
</table>
</div>

<script>
	$(".edit_estimate_table_btn").click(function(){
		$("#estimate_table_id").val($(this).attr("estimate_table_id"));
		$("#estimate_table_parts").val($(this).attr("parts"));
		$("#estimate_table_rate_hour").val($(this).attr("rate_hour"));
		$("#estimate_table_amount").val($(this).attr("amount"));
		$("#edit_estimate_table_modal").modal('show');
	});
</script>