<table class="table">
	<thead>
		<tr>
			<th scope="col">Line</th>
			<th scope="col">Op</th>
			<th scope="col">Guide</th>
			<th scope="col">MC</th>
			<th scope="col">Description</th>
			<th scope="col">MFR Part No</th>
			<th scope="col">Price</th>
			<th scope="col">Adj</th>
			<th scope="col">B</th>
			<th scope="col">Hours</th>
			<th scope="col">R</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
  <tbody>
  	{% for line in audatex.damagestable.all %}
	<tr>
		<th scope="row">{{line.line}}</th>
		<td>{{line.op}}</td>
		<td>{{line.guide}}</td>
		<td>{{line.mc}}</td>
		<td>{{line.description}}</td>
		<td>{{line.mfr_partno}}</td>
		<td>{{line.price}}</td>
		<td>{{line.adj}}</td>
		<td>{{line.b}}</td>
		<td>{{line.hours}}</td>
		<td>{{line.r}}</td>
		<td>
			<button type="button" class="btn btn-primary edit_damagestable_line_btn" damagestable_line_id="{{line.id}}"
				line="{{line.line}}" op="{{line.op}}" guide="{{line.guide}}" mc="{{line.mc}}" description="{{line.description}}" mfr_partno="{{line.mfr_partno}}" 
				price="{{line.price}}" adj="{{line.adj}}" b="{{line.b}}" hours="{{line.hours}}" r="{{line.r}}">
				Edit
			</button>
		</td>
	</tr>
	{% endfor %}
	<tr class="subtotal_row">
		<th scope="row"></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<!-- <td style="border-bottom:1px solid black;">SUBTOTALS</td> 
		<td style="border-bottom:1px solid black;"></td>
		<td style="border-bottom:1px solid black;">4,179.19</td>
		<td style="border-bottom:1px solid black;">23.0</td>
		<td style="border-bottom:1px solid black;">9.2</td>
		-->
	</tr>
  </tbody>
</table>

<script>
	$(".edit_damagestable_line_btn").click(function(){
		$("#damagestable_line_id").val($(this).attr("damagestable_line_id"));
		$("#damagestable_line").val($(this).attr("line"));
		$("#damagestable_op").val($(this).attr("op"));
		$("#damagestable_guide").val($(this).attr("guide"));
		$("#damagestable_mc").val($(this).attr("mc"));
		$("#damagestable_description").val($(this).attr("description"));
		$("#damagestable_mfr_partno").val($(this).attr("mfr_partno"));
		$("#damagestable_price").val($(this).attr("price"));
		$("#damagestable_adj").val($(this).attr("adj"));
		$("#damagestable_b").val($(this).attr("b"));
		$("#damagestable_hours").val($(this).attr("hours"));
		$("#damagestable_r").val($(this).attr("r"));
		$("#edit_damagestable_line_modal").modal('show');
	});
</script>