{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <title>EstiScrub | {% block title %}Home{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'images/lifenoteee_logo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-confirm.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-confirm.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</head>
<body>
  {% block header %}
    {% include 'login_header.html' %}
  {% endblock %}
  <div class="modal fade" id="create_esti" tabindex="-1" role="dialog" aria-labelledby="create_estiCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Insurance Estimate</h5>
        </div>
        <form method="post" action="{% url 'details:upload-pdf' %}" enctype="multipart/form-data" id="target">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-7">
                    <div class="form-group">
                      <label>Estimate Type</label>
                      {{form.estimate_type}}
                      <!-- <i class="fa fa-plus-circle adjust_add_sign" aria-hidden="true"></i> -->
                    </div>
                <!-- <div class="row additional_sec">
                  <div class="col-md-2">
                    <label>Name</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="estimate" placeholder="Estimate Type">
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-minus-circle minus_sign" aria-hidden="true"></i>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <label>Independent Appraisal Company</label>
                  {{form.insurance_company}}
                  <i class="fa fa-plus-circle adjust_add_sign insurance_company_plus" id="insurance_company_plus" aria-hidden="true"></i>
                </div>
                <div class="row additional_sec">
                  <div class="col-md-2">
                    <label>Name</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="company" id="insurance_company_extra" class="form-control" placeholder="Independent Appraisal Company">
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-minus-circle minus_sign" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="form-group">
                  <label>Insurance Company</label>
                  {{form.insurance_appraisal}}
                  <i class="fa fa-plus-circle adjust_add_sign insurance_appraisal_plus" id="insurance_appraisal_plus"  aria-hidden="true"></i>
                </div>
                <div class="row additional_sec">
                  <div class="col-md-2">
                    <label>Name</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="appraisal" id="insurance_appraisal_extra" class="form-control" placeholder="Insurance Company">
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-minus-circle minus_sign" aria-hidden="true"></i>
                  </div> -->
                <!-- </div> -->
              </div>
              <div class="col-md-5">
                <div class="upload_section">
                  <img src="{% static 'images/none_field.png' %}">
                  <div class="select_box">
                    <input type="file" id="uploadFile" name="upload_pdf" class="chooseFile" required="true">
                    <div class="Customfile">Choose File</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
            <button type="submit" id="send_data" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <style type="text/css">
    div.show#edit_estimate_line_modal {
      padding-right: 1185px!important;
    }
  </style>
  <div class="modal fade" id="edit_estimate_line_modal" tabindex="-1" role="dialog" aria-labelledby="edit_estimate_line_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 330%; margin-left: 20px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Estimate Line Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'details:update-estimate-line' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">    
            <input type="text" name="estimate_id" class="form-control" id="estimate_id" hidden>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">Line</th>
                <th scope="col">Oper</th>
                <th scope="col">Repl</th>
                <th scope="col">Description</th>
                <th scope="col">Part Number</th>
                <th scope="col">Qty</th>
                <th scope="col">Extended Price</th>
                <th scope="col">Labor</th>
                <th scope="col">Paint</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td><input type="text" name="line" class="form-control" id="id_line" readonly="true"></td>
              <td><input type="text" name="oper" class="form-control" id="id_oper" readonly="true"></td>
              <td><input type="text" name="repl" class="form-control" id="id_repl"></td>
              <td><input type="text" name="description" class="form-control" id="id_description" readonly="true"></td>
              <td><input type="text" name="part_number" class="form-control" id="id_part_number"></td>
              <td><input type="text" name="qty" class="form-control" id="id_qty"></td>
              <td><input type="text" name="extanded_price" class="form-control" id="id_extanded_price"></td>
              <td><input type="text" name="labor" class="form-control" id="id_labor"></td>
              <td><input type="text" name="paint" class="form-control" id="id_paint"></td>
            </tr>
            </tbody>
          </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Estimate</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
   <!-- Modal -->
   <div class="modal fade" id="edit_estimate_total_modal" tabindex="-1" role="dialog" aria-labelledby="edit_estimate_total_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Estimate Total Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'details:update-estimate-total' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">    
            <input type="text" name="estimate_total_id" class="form-control" id="estimate_total_id" hidden>
            <div class="form-group">
              <label>Category</label>
              <input type="text" name="category" class="form-control" id="id_category">
            </div>
            <div class="form-group">
              <label>Basis</label>
              <input type="text" name="basis" class="form-control" id="id_basis">
            </div>
            <div class="form-group">
              <label>Rate</label>
              <input type="text" name="rate" class="form-control" id="id_rate">
            </div>
            <div class="form-group">
              <label>Cost</label>
              <input type="text" name="cost" class="form-control" id="id_cost">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Estimate</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="edit_damagestable_line_modal" tabindex="-1" role="dialog" aria-labelledby="edit_damagestable_line_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Damages Table Line Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'details:update-damagestable-line' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">    
            <input type="text" name="damagestable_line_id" class="form-control" id="damagestable_line_id" hidden>
            <div class="form-group">
              <label>Line</label>
              <input type="text" name="line" class="form-control" id="damagestable_line">
            </div>
            <div class="form-group">
              <label>Op</label>
              <input type="text" name="op" class="form-control" id="damagestable_op">
            </div>
            <div class="form-group">
              <label>Guide</label>
              <input type="text" name="guide" class="form-control" id="damagestable_guide">
            </div>
            <div class="form-group">
              <label>MC</label>
              <input type="text" name="mc" class="form-control" id="damagestable_mc">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" name="description" class="form-control" id="damagestable_description">
            </div>
            <div class="form-group">
              <label>MFR Part No.</label>
              <input type="text" name="mfr_partno" class="form-control" id="damagestable_mfr_partno">
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="text" name="price" class="form-control" id="damagestable_price">
            </div>
            <div class="form-group">
              <label>Adj</label>
              <input type="text" name="adj" class="form-control" id="damagestable_adj">
            </div>
            <div class="form-group">
              <label>B</label>
              <input type="text" name="b" class="form-control" id="damagestable_b">
            </div>
            <div class="form-group">
              <label>Hours</label>
              <input type="text" name="hours" class="form-control" id="damagestable_hours">
            </div>
            <div class="form-group">
              <label>R</label>
              <input type="text" name="r" class="form-control" id="damagestable_r">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update DamagesTable</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="edit_estimate_table_modal" tabindex="-1" role="dialog" aria-labelledby="edit_estimate_table_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Estimate Table Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'details:update-estimate-table' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">    
            <input type="text" name="estimate_table_id" class="form-control" id="estimate_table_id" hidden>
            <div class="form-group">
              <label>Parts</label>
              <input type="text" name="parts" class="form-control" id="estimate_table_parts">
            </div>
            <div class="form-group">
              <label>Rate Hour</label>
              <input type="text" name="rate_hour" class="form-control" id="estimate_table_rate_hour">
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input type="text" name="amount" class="form-control" id="estimate_table_amount">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update EstimateTable</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="edit_mitchell_estimate_line_modal" tabindex="-1" role="dialog" aria-labelledby="edit_mitchell_estimate_line_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Estimate Table Line Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'details:update-mitchell-estimate-table' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">    
            <input type="text" name="estimate_line_id" class="form-control" id="estimate_line_id" hidden>
            <div class="form-group">
              <label>Line</label>
              <input type="text" name="line" class="form-control" id="estimate_line">
            </div>
            <div class="form-group">
              <label>Entry Number</label>
              <input type="text" name="entry_number" class="form-control" id="estimate_entry_number">
            </div>
            <div class="form-group">
              <label>Labor Type</label>
              <input type="text" name="labor_type" class="form-control" id="estimate_labor_type">
            </div>
            <div class="form-group">
              <label>Operation</label>
              <input type="text" name="operation" class="form-control" id="estimate_operation">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" name="description" class="form-control" id="estimate_description">
            </div>
            <div class="form-group">
              <label>Part Type/Part Number</label>
              <input type="text" name="party_number" class="form-control" id="estimate_part_number">
            </div>
            <div class="form-group">
              <label>Dollar Amount</label>
              <input type="text" name="amount" class="form-control" id="estimate_amount">
            </div>
            <div class="form-group">
              <label>Labor Unit</label>
              <input type="text" name="labor_unit" class="form-control" id="estimate_labor_units">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Estimation Table</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'info' %}alert-warning{% else %} alert-danger{% endif %}">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <center><strong>{{ message }}!</strong></center>
    </div>
    {% endfor %}
  {% endif %}
  {% block content %}
  {% endblock  %}
  <footer>
    <div class="footer_sec"></div>
  </footer>
  <script type="text/javascript">
    $(".adjust_add_sign").click(function(){
      $(this).css('display', 'none');
      $(this).parent().next().css('display', 'block');
    });
    $(".minus_sign").click(function(){
      $(this).parent().parent().css('display', 'none');
      $(this).parent().parent().find('input').val('');
      $(this).parent().parent().prev().find('.adjust_add_sign').css('display', 'block');
    });
    $('input[type="file"]').change(function(){
      var file_name = $(this).prop('files')[0].name;
      $(this).next().text(file_name);
    });

    $( document ).ready(function() {

      $('.insurance_company_plus').on('click', function() {
        // var insurance_company = $('#id_insurance_company').val();
        $("#id_insurance_company").val("");
      });

      $('.insurance_appraisal_plus').on('click', function() {
        $("#id_insurance_appraisal").val("");
      });

    });

    $( "#send_data" ).click(function( event ) {
      // alert( "Handler for .submit() called." );
      event.preventDefault();
      var insurance_company = $('#id_insurance_company').val();
      var insurance_company_extra =  $('#insurance_company_extra').val();
      var insurance_appraisal = $('#id_insurance_appraisal').val();
      var insurance_appraisal_extra =  $('#insurance_appraisal_extra').val();
      var submitform = false;

      // if( !$('#id_estimate_type').val()){
      //   alert('Please select the estimation type');
      // }
      // else if (!(insurance_company || insurance_company_extra)){
      //     alert('Please select or add value for Insurance Company');
      // }
      // else if (!(insurance_appraisal || insurance_appraisal_extra)){
      //     alert('Please select or add value for Insurance Appraisal Company');
      // }
      // else if(!$('#uploadFile').val()){
      //     alert('please select file to upload')
      // }
      // else{
      //     submitform = true;
      // }

      // if (submitform){
      //   // debugger
      // }
      $("#target").get(0).submit();

    });

  </script>

  {%block script%}
  {% endblock  %}
</body>
</html>
