<div class="notes_section">
	<label>Notes</label>
	<div class="notes_content"></div>
</div>
<div class="summary">
	<label>ESTIMATE TOTALs</label>
	<table class="table billing_table">
	<thead>
		<tr>
			<th scope="col">Category</th>
			<th scope="col">Basis</th>
			<th scope="col">Rate</th>
			<th scope="col">Cost</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
  <tbody>
  	{% for est in estimation.estimationtotal.all %}
		<tr>
			<td>{{est.category}}</td>
			<td>{{est.basis}}</td>
			<td>{{est.rate}}</td>
			<td>{{est.cost}}</td>
			<td>
				<button type="button" class="btn btn-primary edit_estimate_total_btn" estimate_total_id="{{est.id}}"
					category="{{est.category}}" basis="{{est.basis}}" rate="{{est.rate}}" cost="{{est.cost}}">
					Edit
				</button>
			</td>
		</tr>
	{% endfor %}
  </tbody>
</table>
</div>

<script>
	$(".edit_estimate_total_btn").click(function(){
		$("#estimate_total_id").val($(this).attr("estimate_total_id"));
		$("#id_category").val($(this).attr("category"));
		$("#id_basis").val($(this).attr("basis"));
		$("#id_rate").val($(this).attr("rate"));
		$("#id_cost").val($(this).attr("cost"));
		$("#edit_estimate_total_modal").modal('show');
	});
</script>