{% extends "base.html" %} 
{% load static %}
{% load split_semicolon %} 
{% block title %}Details{% endblock %} 
{% block content %}
<div class="container">
  <div class="details_section">
    <div class="detail_header">
      <h4>Admin - Estimate Header</h4>
      <div class="header_contain">
        <div class="row">
          <div class="col-md-9">
            <div class="row header_label">
              <div class="col-md-4"><label>Estimate Type:</label></div>
              <div class="col-md-8">
                <span>{{estimation.estimate_type}}</span>
              </div>
            </div>
            <div class="row header_label">
              <div class="col-md-4"><label>Insurance Co:</label></div>
              <div class="col-md-8">
                <span>{{estimation.insurance_company}}</span>
              </div>
            </div>
            <div class="row header_label">
              <div class="col-md-4"><label>Adjuster:</label></div>
              <div class="col-md-8"><span>{{estimation.adjuster}}</span></div>
            </div>
            <div class="row header_label">
              <div class="col-md-4">
                <label>Independent Appraisal Co:</label>
              </div>
              <div class="col-md-8">
                <span>{{estimation.independent_appraisal_company}}</span>
              </div>
            </div>
            <div class="row header_label">
              <div class="col-md-4"><label>Appraiser:</label></div>
              <div class="col-md-8"><span>{{estimation.appraiser}}</span></div>
            </div>
            <div class="row header_label">
              <div class="col-md-4"><label>Vehicle:</label></div>
              <div class="col-md-8">
                <span>{{estimation.vehicle_detail}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 detail_img_sec" style="display: grid">
            <img src="{% static 'images/detail_page.png' %}" class="first" />
            <img src='{% static "images/pdf.png" %}' class="second" />
            <span>{{estimation.filename}}</span>
            <div id="downloadCsvForm" class="text-right">
              {% csrf_token %}
              <button
                class="btn btn-dark"
                id="downloadCsv"
                data-estId="{{estimation.id}}"
              >
                download csv
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="detail_containt">
      <ul class="nav nav-tabs" role="tablist" id="details_tab">
        <li class="nav-item">
          <a class="nav-link active" href="#header" role="tab" data-toggle="tab"
            >Header</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#estimate" role="tab" data-toggle="tab"
            >Estimate Lines</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#totals" role="tab" data-toggle="tab"
            >Totals</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="header">
          <div class="detail_header_section">
            <div class="section_one">
              <div class="heading">
                <h5>{{estimation.independent_appraisal_company}}</h5>
              </div>
              <div class="id_section">
                {% if estimation.claim %}
                <span>{{estimation.claim}}</span>
                {% else %}
                <label>Claim:</label>
                {% endif %} {% if estimation.workfile_id %}
                <span
                  ><label>Workfile ID:</label>{{estimation.workfile_id}}</span
                >
                {% else %}
                <label>Workfile ID:</label>
                {% endif %}
              </div>
              <div class="address_sec">
                <span>{{estimation.insurance_company}}</span>
                <!-- <span>RENTAL AND SUPPLEMENT INFORMATION IS LISTED BELOW</span>
                                <span>3 Lear Jet Lane</span>
                                <span>Suite 100</span>
                                <span>Latham, NY 12110</span>
                                <span>Phone: (800) 252-5730</span>
                                <span>Fax: (800) 632-3704</span> -->
              </div>
            </div>
            <div class="section_two">
              <div class="heading_two">
                {% if estimation.writtenby %}
                <span>{{estimation.writtenby}}</span>
                {% else %}
                <label>Written By:</label>
                {% endif %} {% if estimation.adjuster %}
                <span>{{estimation.adjuster}}</span>
                {% else %}
                <label>Adjuster:</label>
                {% endif %}
              </div>
              <div class="container_two">
                <div class="row">
                  <div class="col-md-4">
                    {% if estimation.insured %}
                    <span>{{estimation.insured}}</span>
                    {% else %}
                    <label>Insured:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.policy %}
                    <span>{{estimation.policy}}</span>
                    {% else %}
                    <label>Policy:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.claim %}
                    <span>{{estimation.claim}}</span>
                    {% else %}
                    <label>Claim:</label>
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    {% if estimation.typeofloss %}
                    <span>{{estimation.typeofloss}}</span>
                    {% else %}
                    <label>Type of Loss:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.dateofloss %}
                    <span>{{estimation.dateofloss}}</span>
                    {% else %}
                    <label>Date of Loss:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.dayofrepair %}
                    <span>{{estimation.dayofrepair}}</span>
                    {% else %}
                    <label>Day of Repair:</label>
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    {% if estimation.pointofimpact %}
                    <span>{{estimation.pointofimpact}}</span>
                    {% else %}
                    <label>Point of Impact:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.deductible %}
                    <span>{{estimation.deductible}}</span>
                    {% else %}
                    <label>Deductible:</label>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="detail_address">
                <div class="row">
                  {% if insured_locations.0 %}
                  <div class="col-md-3 under_address">
                    {% insured_locations_tag insured_locations.0 %}
                  </div>
                  {% endif %} {% if insured_locations.1 %}
                  <div class="col-md-3 under_address">
                    {% insured_locations_tag insured_locations.1 %}
                  </div>
                  {% endif %} {% if insured_locations.2 %}
                  <div class="col-md-3 under_address">
                    {% insured_locations_tag insured_locations.2 %}
                  </div>
                  {% endif %} {% if insured_locations.3 %}
                  <div class="col-md-3 under_address">
                    {% insured_locations_tag insured_locations.3 %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="section_three">
              <div class="heading">
                <h5>VEHICLE</h5>
              </div>
              <div class="info">
                <span>{{estimation.vehicle_detail}}</span>
              </div>
              <div class="container_three">
                <div class="row">
                  <div class="col-md-4">
                    {% if estimation.vin %}
                    <span>{{estimation.vin}}</span>
                    {% else %}
                    <label>VIN:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.production_date %}
                    <span>{{estimation.production_date}}</span>
                    {% else %}
                    <label>Production Date:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.interiorcolor %}
                    <span>{{estimation.interiorcolor}}</span>
                    {% else %}
                    <label>Interior Color:</label>
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    {% if estimation.license %}
                    <span>{{estimation.license}}</span>
                    {% else %}
                    <label>License:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.odometer %}
                    <span>{{estimation.odometer}}</span>
                    {% else %}
                    <label>Odometer:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.exteriorcolor %}
                    <span>{{estimation.exteriorcolor}}</span>
                    {% else %}
                    <label>Exterior Color:</label>
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <span>{{estimation.state}}</span>
                  </div>
                  <div class="col-md-4">
                    {% if estimation.condition %}
                    <span>{{estimation.condition}}</span>
                    {% else %}
                    <label>Condition:</label>
                    {% endif %}
                  </div>
                  <div class="col-md-4">
                    {% if estimation.mileagein %}
                    <span>{{estimation.mileagein}}</span>
                    {% else %}
                    <label>Mileage In:</label>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="detail_three">
                <div class="row dynamic_section">
                  <div class="col-md-2 grid_display">
                    {% for i in vehicle_parts.1 %}
                    <div
                      {%
                      if
                      i.isupper
                      %}
                      class="font-weight-bold"
                      {%
                      endif
                      %}
                    >
                      {{i}}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-md-2 grid_display">
                    {% for i in vehicle_parts.2 %}
                    <div
                      {%
                      if
                      i.isupper
                      %}
                      class="font-weight-bold"
                      {%
                      endif
                      %}
                    >
                      {{i}}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-md-2 grid_display">
                    {% for i in vehicle_parts.3 %}
                    <div
                      {%
                      if
                      i.isupper
                      %}
                      class="font-weight-bold"
                      {%
                      endif
                      %}
                    >
                      {{i}}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-md-2 grid_display">
                    {% for i in vehicle_parts.4 %}
                    <div
                      {%
                      if
                      i.isupper
                      %}
                      class="font-weight-bold"
                      {%
                      endif
                      %}
                    >
                      {{i}}
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="section_four">
              {% include 'table_section_detail.html' %}
            </div>
            <div class="section_five">{% include 'billing_details.html' %}</div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="estimate">
          <div class="detail_header_section">
            <div class="section_four">
              {% include 'table_section_detail.html' %}
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="totals">
          <div class="detail_header_section">
            <div class="section_five">{% include 'billing_details.html' %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  let url = location.href.replace(/\/$/, "");

  if (location.hash) {
    const hash = url.split("#");
    $('#details_tab a[href="#' + hash[1] + '"]').tab("show");
    setTimeout(() => {
      $(window).scrollTop(0);
    }, 400);
  }

  $('a[data-toggle="tab"]').on("click", function () {
    let newUrl;
    const hash = $(this).attr("href");
    if (hash == "#home") {
      newUrl = url.split("#")[0];
    } else {
      newUrl = url.split("#")[0] + hash;
    }
    newUrl += "/";
    history.replaceState(null, null, newUrl);
  });
</script>

<!-- =================== download csv script =================== -->

<script>
  $("#downloadCsv").click(function () {
    let estiId;
    estiId = $(this).attr("data-estId");
    let csrf_token = $(
      "#downloadCsvForm input[name=csrfmiddlewaretoken]"
    ).val();

    $.ajax({
      type: "POST",
      url: "/esti/download-csv/",
      data: {
        estiId: estiId,
        csrfmiddlewaretoken: csrf_token,
      },
      success: function (data) {
        const {sussess, message, ...rest} = data;
        const urls = Object.values(rest)

        var interval = setInterval(download, 300, urls);

        function download(urls) {
            var url = urls.pop();

            var a = document.createElement("a");
            a.setAttribute('href', "{{request.scheme}}://{{request.META.HTTP_HOST}}/" + url);
            a.setAttribute('download', '');
            a.setAttribute('target', '_blank');
            a.click();

            if (urls.length == 0) {
                clearInterval(interval);
            }
        }
      },
    });
  });
</script>
{% endblock %}
