{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
	<div class="row home_section">
		<div class="col-md-4">
			<div class="filter_section">
				<!-- <div class="search-container">
					<input type="text" name="search" class="form-control" placeholder="Search">
					<button type="submit"><i class="fa fa-search"></i></button>
				</div> -->
				<div class="search_category">
					<label>Search by Category</label>
					<select id="inputState" class="form-control" onchange="location = this.value;">
				        <option value="/?type=ccc" {% if active_type == "ccc" %} selected {% endif %}>CCC</option>
				        <option value="/?type=audatex" {% if active_type == "audatex" %} selected {% endif %}>Audatex</option>
				        <option value="/?type=mitchell" {% if active_type == "mitchell" %} selected {% endif %}>Mitchell</option>
			      	</select>
				</div>
				<div class="history_section">
					<div class="history_header">
						<label>History</label>
					</div>
					<div class="row history_container">
						{% for a in 'test' %}
							<div class="history_list">
								<div class="col-md-4"><label>7/20/19</label></div>
								<div class="col-md-8">
									<span>Commerce Insurance Co.</span><span>2015 Volkswagen Jetta GTI</span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="listing_section">
				{% if active_type == "ccc" %} 
					{% for estimation in my_estimations %}
						<a href="{% url 'details:estimation-detail' estimation.id %}" style="z-index: 999;">
							<div class="main_list">
								<div class="main_list_header">
									{% if estimation.is_new %}
										<img src="static/images/new_banner.png" width="5%"></img>
									{% endif %}
									<label>Job no: <span>{{estimation.jobnumber}}</span></label>
									<label>Est Type: <span>{{estimation.estimate_type}}</span></label>
									<label>Date: <span>9/06/2019</span></label>
									<span class="share_delete_section">
										<span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
										<form method="post" action="{% url 'delete_estimation' pk=estimation.id %}" style="display: inline-block;">{% csrf_token %} 
											<button type="submit" style="border: none;background: none;">
												<i class="fa fa-trash" aria-hidden="true"></i>
											</button>
										</form> 
									</span>
								</div>
								<div class="row main_list_container">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Insur:</label></div>
											<div class="col-md-10"><span>{{estimation.insurance_company}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Adj:</label></div>
											<div class="col-md-10"><span>{{estimation.adjuster}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>IAC:</label></div>
											<div class="col-md-10"><span>{{estimation.iac}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Appr:</label></div>
											<div class="col-md-10"><span>{{estimation.insurance_appraisal}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Veh:</label></div>
											<div class="col-md-10"><span>{{estimation.vehicle_detail}}</span></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
				{% endif %}
				
				{% if active_type == "audatex" %}
					{% for audatex in audatex_objs %}
						<a href="{% url 'details:audatex-detail' audatex.id %}" style="z-index: 999;">
							<div class="main_list">
								<div class="main_list_header">
									{% if audatex.is_new %}
										<img src="static/images/new_banner.png" width="5%"></img>
									{% endif %}
									<label>Job no: <span>-</span></label>
									<label>Audatex Type: <span>{{audatex.audatex_type}}</span></label>
									<label>Date: <span>{{audatex.datetime}}</span></label>
									<span class="share_delete_section">
										<span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
										<form method="post" action="{% url 'delete_audatex' pk=audatex.id %}" style="display: inline-block;">{% csrf_token %} 
											<button type="submit" style="border: none;background: none;">
												<i class="fa fa-trash" aria-hidden="true"></i>
											</button>
										</form> 
									</span>
								</div>
								<div class="row main_list_container">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Insur:</label></div>
											<div class="col-md-10"><span>{{audatex.claim}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Add1:</label></div>
											<div class="col-md-10"><span>{{audatex.address1}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Agent:</label></div>
											<div class="col-md-10"><span>{{audatex.agent}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Add2:</label></div>
											<div class="col-md-10"><span>{{audatex.address2}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Claim No.:</label></div>
											<div class="col-md-10"><span>{{audatex.claim_number}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Appraiser Name:</label></div>
											<div class="col-md-10"><span>{{audatex.appraiser_name}}</span></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
				{% endif %}
				{% if active_type == "mitchell" %} 
						{% for mitchel in mitchel_objs %}
						<a href="{% url 'details:mitchel-detail' mitchel.id %}" style="z-index: 999;">
							<div class="main_list">
								<div class="main_list_header">
									{% if mitchel.is_new %}
										<img src="static/images/new_banner.png" width="5%"></img>
									{% endif %}
									<label>Est ID: <span>{{mitchel.estimate_id}}</span></label>
									<label>Audatex Type: <span>{{mitchel.mitchel_type}}</span></label>
									<label>Date: <span>{{mitchel.estimate_date}}</span></label>
									<span class="share_delete_section">
										<span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
										<form method="post" action="{% url 'delete_mitchel' pk=mitchel.id %}" style="display: inline-block;">{% csrf_token %} 
											<button type="submit" style="border: none;background: none;">
												<i class="fa fa-trash" aria-hidden="true"></i>
											</button>
										</form> 
									</span>
								</div>
								<div class="row main_list_container">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Insur:</label></div>
											<div class="col-md-10"><span>{{mitchel.insco_info}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Adj:</label></div>
											<div class="col-md-10"><span>{{mitchel.adjuster_info}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Owner:</label></div>
											<div class="col-md-10"><span>{{mitchel.owner}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Appr:</label></div>
											<div class="col-md-10"><span>{{mitchel.appraiser_info}}</span></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2"><label>Veh.:</label></div>
											<div class="col-md-10"><span>{{mitchel.description}}</span></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}