{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="signup-form">
    <form action="." method="post">
        {% csrf_token %}
		<h2>Login</h2>
		<p class="hint-text">Make yourself login</p>
        <div class="form-group">
        	{{login.email}}
        </div>
		<div class="form-group">
            {{login.password}}
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>
	   <div class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></div>
       <div class="text-center"><a href="{% url 'forgot' %}">Forgot Password?</a></div>
    </form>
</div>
{% endblock %}