<nav class="navbar navbar-default navbar-expand-xl navbar-light main_header">
  <div class="navbar-header d-flex col">
    <a class="navbar-brand" href="#"><i class="fa fa-cube"></i>Esti<b>Scrub</b></a>     
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item dropdown user_profile">
          <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><i class="fa fa-user-circle"></i> {{request.user.first_name}} {{request.user.last_name}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'details:settings' %}" class="dropdown-item"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>Settings</a></li>
            <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="#" class="nav-link notifications" data-toggle="modal" data-target="#create_esti"><i class="fa fa-edit"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a></li>
      </ul>
    {% else %}
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link notifications">Login</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link messages">Signup</a></li>
      </ul>
    {% endif %}
  </div>
</nav>