{% extends "base.html" %}
{% load static %}
{% load split_semicolon %}
{% block title %}Details{% endblock %}

{% block content %}
<div class="container">
    <div class="details_section">
        <div class="detail_header">
            <h4>Admin - Mitchel Header</h4>
            <div class="header_contain">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row header_label">
                            <div class="col-md-4"><label>Estimation ID:</label></div>
                            <div class="col-md-8"><span>{{mitchell.estimate_id}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Estimation Type:</label></div>
                            <div class="col-md-8"><span>{{mitchell.mitchel_type}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Insurance Co:</label></div>
                            <div class="col-md-8"><span>{{mitchell.insco_info}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner Name:</label></div>
                            <div class="col-md-8"><span>{{mitchell.owner}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Owner Address:</label></div>
                            <div class="col-md-8"><span>{{mitchell.address}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Damage Assessed By:</label></div>
                            <div class="col-md-8"><span>{{mitchell.appraiser_info}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Adjuster:</label></div>
                            <div class="col-md-8"><span>{{mitchell.adjuster_info}}</span></div>
                        </div>
                        <div class="row header_label">
                            <div class="col-md-4"><label>Claim Number:</label></div>
                            <div class="col-md-8"><span>{{mitchell.claim_number}}</span></div>
                        </div>
                        <!-- <div class="row header_label">
                            <div class="col-md-4"><label>Policy Number:</label></div>
                            <div class="col-md-8"><span>{{mitchell.owner_home}}</span></div>
                        </div> -->
                        </div>
                    <div class="col-md-3 detail_img_sec" style="display: grid;">
                        <img src="{% static 'images/detail_page.png' %}" class="first">
                        <img src='{% static "images/pdf.png" %}' class="second">
                        <span>-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail_containt">
            <ul class="nav nav-tabs" role="tablist" id="details_tab">
                <li class="nav-item">
                    <a class="nav-link active" href="#header" role="tab" data-toggle="tab">Header</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#estimateLine" role="tab" data-toggle="tab">Estimate Line Table</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#estimate" role="tab" data-toggle="tab">Estimate Table</a>
                </li> -->
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="header">
                    <div class="detail_header_section">
                        <div class="section_one">
                            <div class="heading">
                                <h5>{{mitchell.insco_info}}</h5>
                            </div>
                            <div class="id_section">
                                {% if mitchell.claim_number %}
                                    <span><label>Claim No:</label>{{mitchell.claim_number}}</span>
                                {% else %}
                                    <label>Claim No:</label>
                                {% endif %}
                            </div>
                            <div class="address_sec">
                                <span>{{mitchell.claim}}</span>
                                <!-- <span>RENTAL AND SUPPLEMENT INFORMATION IS LISTED BELOW</span>
                                <span>3 Lear Jet Lane</span>
                                <span>Suite 100</span>
                                <span>Latham, NY 12110</span>
                                <span>Phone: (800) 252-5730</span>
                                <span>Fax: (800) 632-3704</span> -->
                            </div>
                        </div>
                        <div class="section_two">
                            <div class="heading_two">
                                {% if mitchell.owner %}
                                    <span>{{mitchell.owner}}</span>
                                {% else %}
                                    <label>Owner Name:</label>
                                {% endif %}
                                {% if mitchell.address %}
                                    <span>{{mitchell.address}}</span>
                                {% else %}
                                    <label>Owner Address:</label>
                                {% endif %}
                                {% if mitchell.telephone %}
                                    <span>{{mitchell.telephone}}</span>
                                {% else %}
                                    <label>Owner Cell:</label>
                                {% endif %}
                                {% if mitchell.insured %}
                                    <span>{{mitchell.insured}}</span>
                                {% else %}
                                    <label>Insured:</label>
                                {% endif %}
                                <!-- {% if mitchell.owner_home %}
                                    <span>{{mitchell.owner_home}}</span>
                                {% else %}
                                    <label>Owner Home:</label>
                                {% endif %}
                                {% if mitchell.owner_fax %}
                                    <span>{{mitchell.owner_fax}}</span>
                                {% else %}
                                    <label>Owner Fax:</label>
                                {% endif %}
                                {% if mitchell.owner_email %}
                                    <span>{{mitchell.owner_email}}</span>
                                {% else %}
                                    <label>Owner Email:</label>
                                {% endif %} -->

                            </div>
                            <div class="container_two">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if mitchell.appraiser_info %}
                                            <span>{{mitchell.appraiser_info}}</span>
                                        {% else %}
                                            <label>Appraiser Info:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if mitchell.adjuster_info %}
                                            <span>{{mitchell.adjuster_info}}</span>
                                        {% else %}
                                            <label>Appraised For:</label>
                                        {% endif %}
                                    </div>
                                    <!-- <div class="col-md-4">
                                        {% if mitchell.loss_date_time %}
                                            <span>{{mitchell.loss_date_time}}</span>
                                        {% else %}
                                            <label>Loss Datetime:</label>
                                        {% endif %}
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if mitchell.appraiser_address %}
                                            <span>{{mitchell.appraiser_address}}</span>
                                        {% else %}
                                            <label>Loss Type:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if mitchell.condition %}
                                            <span>{{mitchell.condition}}</span>
                                        {% else %}
                                            <label>Condition:</label>
                                        {% endif %}
                                    </div>
                                    <!-- <div class="col-md-4">
                                        {% if mitchell.claim %}
                                            <span>{{mitchell.claim}}</span>
                                        {% else %}
                                            <label>Claim:</label>
                                        {% endif %}
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if mitchell.date_of_loss %}
                                            <span>{{mitchell.date_of_loss}}</span>
                                        {% else %}
                                            <label>Date Of Loss:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if mitchell.deductible %}
                                            <span>{{mitchell.deductible}}</span>
                                        {% else %}
                                            <label>Deductible:</label>
                                        {% endif %}
                                    </div>
                                    <!-- <div class="col-md-4">
                                        {% if mitchell.agent %}
                                            <span>{{mitchell.agent}}</span>
                                        {% else %}
                                            <label>Agent:</label>
                                        {% endif %}
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if mitchell.policy_no %}
                                            <span>{{mitchell.policy_no}}</span>
                                        {% else %}
                                            <label>Policy No:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if mitchell.type_of_loss %}
                                            <span>{{mitchell.type_of_loss}}</span>
                                        {% else %}
                                            <label>Type Of Loss:</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="section_three" style="border-bottom: 1px dashed;">
                            <div class="heading">
                                <h5>Vehicle Information</h5>
                            </div>
                            <div class="info">
                                <span>{{mitchell.description}}</span>
                            </div>
                            <div class="container_three">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if mitchell.description %}
                                            <span>{{mitchell.description}}</span>
                                        {% else %}
                                            <label>Description:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if mitchell.body_style %}
                                            <span>{{mitchell.body_style}}</span>
                                        {% else %}
                                            <label>Body Style:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if mitchell.drive_train %}
                                            <span>{{mitchell.drive_train}}</span>
                                        {% else %}
                                            <label>Drive Train:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if mitchell.vin %}
                                            <span>{{mitchell.vin}}</span>
                                        {% else %}
                                            <label>VIN:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if mitchell.mileage %}
                                            <span>{{mitchell.mileage}}</span>
                                        {% else %}
                                            <label>Mileage:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if mitchell.oem_alt %}
                                            <span>{{mitchell.oem_alt}}</span>
                                        {% else %}
                                            <label>OEM/ALT:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if mitchell.parts_profile %}
                                            <span>{{mitchell.parts_profile}}</span>
                                        {% else %}
                                            <label>Parts Profile:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if mitchell.color %}
                                            <span>{{mitchell.color}}</span>
                                        {% else %}
                                            <label>Color:</label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% if mitchell.license %}
                                            <span>{{mitchell.license}}</span>
                                        {% else %}
                                            <label>License:</label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="detail_three">
                                    <div class="row dynamic_section">
                                        <div class="col-md-12 grid_display">
                                                <div {% if i.isupper %} class="font-weight-bold" {% endif %}>{{mitchell.options}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section_four">
                                    {% include 'mitchel_table_section_detail.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="estimateLine">
                    <div class="detail_header_section">
                        <div class="section_four">
                            {% include 'mitchel_table_section_detail.html' %}
                        </div>
                    </div>
                </div>
                <!-- <div role="tabpanel" class="tab-pane fade" id="estimate">
                    <div class="detail_header_section">
                        <div class="section_five">
                            {% include 'mitchel_billing_details.html' %}
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
let url = location.href.replace(/\/$/, "");
 
 if (location.hash) {
   const hash = url.split("#");
   $('#details_tab a[href="#'+hash[1]+'"]').tab("show");
   setTimeout(() => {
     $(window).scrollTop(0);
   }, 400);
 } 
  
 $('a[data-toggle="tab"]').on("click", function() {
   let newUrl;
   const hash = $(this).attr("href");
   if(hash == "#home") {
     newUrl = url.split("#")[0];
   } else {
     newUrl = url.split("#")[0] +hash;
   }
   newUrl += "/";
   history.replaceState(null, null, newUrl);
 });
</script>
{% endblock %}