<table class="table">
	<thead>
		<tr>
			<th scope="col">Line Item</th>
			<th scope="col">Entry Number</th>
			<th scope="col">Labor Type</th>
			<th scope="col">Operation</th>
			<th scope="col">Line Item Description</th>
			<th scope="col">Part Type/Part Number</th>
			<th scope="col">Dollar Amount</th>
			<th scope="col">Labor Unit</th>
		</tr>
	</thead>
  <tbody>
  	{% for line in mitchell.estimatetable.all %}
	<tr>
		<th scope="row">{{line.line}}</th>
		<td>{{line.entry_number}}</td>
		<td>{{line.labor_type}}</td>
		<td>{{line.operation}}</td>
		<td>{{line.description}}</td>
		<td>{{line.part_number}}</td>
		<td>{{line.amount}}</td>
		<td>{{line.labor_units}}</td>
		<td>
			<button type="button" class="btn btn-primary edit_estimate_line_btn" estimate_line_id="{{line.id}}"
				line="{{line.line}}" entry_number="{{line.entry_number}}" labor_type="{{line.labor_type}}" operation="{{line.operation}}" description="{{line.description}}" part_number="{{line.part_number}}" 
				amount="{{line.amount}}" labor_units="{{line.labor_units}}">
				Edit
			</button>
		</td>
	</tr>
	{% endfor %}
	<tr class="subtotal_row">
		<th scope="row"></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<!-- <td style="border-bottom:1px solid black;">SUBTOTALS</td> 
		<td style="border-bottom:1px solid black;"></td>
		<td style="border-bottom:1px solid black;">4,179.19</td>
		<td style="border-bottom:1px solid black;">23.0</td>
		<td style="border-bottom:1px solid black;">9.2</td>
		-->
	</tr>
  </tbody>
</table>

<script>
	$(".edit_estimate_line_btn").click(function(){
		$("#estimate_line_id").val($(this).attr("estimate_line_id"));
		$("#estimate_line").val($(this).attr("line"));
		$("#estimate_entry_number").val($(this).attr("entry_number"));
		$("#estimate_labor_type").val($(this).attr("labor_type"));
		$("#estimate_operation").val($(this).attr("operation"));
		$("#estimate_description").val($(this).attr("description"));
		$("#estimate_part_number").val($(this).attr("part_number"));
		$("#estimate_amount").val($(this).attr("amount"));
		$("#estimate_labor_units").val($(this).attr("labor_units"));
		$("#edit_mitchell_estimate_line_modal").modal('show');
	});
</script>