{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="container">
	<div class="settings_section">
	    <p>
	      Your Password has been sucessfully changes. Please <a href="{% url 'login' %}">Login</a>
	    </p>
	</div>
</div>
{% endblock %}