{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="container">
	<div class="settings_section">
	  {% if validlink %}
	    <h4>Forgot Password</h4>
	    <div class="col-md-8">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						<label>{{field.label}}</label>
						{{field|add_class:'form-control'}}
					</div>
				{% endfor %}
				{{form.errors.new_password2}}
				<button type="submit" class="btn btn-primary">Change password</button>
			</form>
		</div>
	  {% else %}
	    <p>
	      The password reset link was invalid, possibly because it has already been used.
	      Please request a new password reset <a href="{% url 'forgot' %}">Forgot Password</a>
	    </p>
	  {% endif %}
	</div>
</div>
{% endblock %}