{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="container">
	<div class="settings_section">
		<h4>Settings</h4>
		<div class="col-md-8">
			<form method="post" action=".">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						<label>{{field.label}}</label>
						{{field|add_class:'form-control'}}
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary">Change Password</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}