{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="signup-form">
    <form action="." method="post">
        {% csrf_token %}
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
			<div class="row">
				<div class="col-md-6">{{signup.first_name}}</div>
				<div class="col-md-6">{{signup.last_name}}</div>
			</div>        	
        </div>
        <div class="form-group">
        	{{signup.email}}
        </div>
		<div class="form-group">
            {{signup.password1}}
        </div>
		<div class="form-group">
            {{signup.password2}}
        </div>        
        <div class="form-group">
			<label class="checkbox-inline">{{signup.agree_terms}} I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Register Now</button>
        </div>
	   <div class="text-center">Already have an account? <a href="{% url 'login' %}">Sign in</a></div>
       <div class="text-center"><a href="{% url 'forgot' %}">Forgot Password?</a></div>
    </form>
</div>
{% endblock %}