<table class="table">
	<thead>
		<tr>
			<th scope="col">Line</th>
			<th scope="col">Oper</th>
			<th scope="col"></th>
			<th scope="col">Description</th>
			<th scope="col">Part Number</th>
			<th scope="col">Qty</th>
			<th scope="col">Extended Price $</th>
			<th scope="col">Labor</th>
			<th scope="col">Paint</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
  <tbody>
  	{% for line in estimation.estimationline.all %}
	<tr>
		<th scope="row">{{line.line}}</th>
		<td>{{line.oper}}</td>
		<td>{{line.repl}}</td>
		<td>{{line.description}}</td>
		<td>{{line.part_number}}</td>
		<td>{{line.qty}}</td>
		<td>{{line.extanded_price}}</td>
		<td>{{line.labor}}</td>
		<td>{{line.paint}}</td>
		<td>
			<button type="button" class="btn btn-primary edit_estimate_btn" estimate_id="{{line.id}}"
				line="{{line.line}}" oper="{{line.oper}}" repl="{{line.repl}}" description="{{line.description}}" part_number="{{line.part_number}}" 
				qty="{{line.qty}}" extanded_price="{{line.extanded_price}}" labor="{{line.labor}}" paint="{{line.paint}}">
				Edit
			</button>
		</td>
	</tr>
	{% endfor %}
	<tr class="subtotal_row">
		<th scope="row"></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<!-- <td style="border-bottom:1px solid black;">SUBTOTALS</td> 
		<td style="border-bottom:1px solid black;"></td>
		<td style="border-bottom:1px solid black;">4,179.19</td>
		<td style="border-bottom:1px solid black;">23.0</td>
		<td style="border-bottom:1px solid black;">9.2</td>
		-->
	</tr>
  </tbody>
</table>

<script>
	$(".edit_estimate_btn").click(function(){
		$("#estimate_id").val($(this).attr("estimate_id"));
		$("#id_line").val($(this).attr("line"));
		$("#id_oper").val($(this).attr("oper"));
		$("#id_repl").val($(this).attr("repl"));
		$("#id_description").val($(this).attr("description"));
		$("#id_part_number").val($(this).attr("part_number"));
		$("#id_qty").val($(this).attr("qty"));
		$("#id_extanded_price").val($(this).attr("extanded_price"));
		$("#id_labor").val($(this).attr("labor"));
		$("#id_paint").val($(this).attr("paint"));
		$("#edit_estimate_line_modal").modal('show');
	});
</script>